#Enunciado
enunciado.pdf

# Compiled Object files
*.o

# Lex output
lex.yy.c

# Yacc output
y.tab.c
y.tab.h
y.output

# Output
gocompiler

# Submissions
gocompiler.zip

#VS Code
.vscode

# Allow testcases output
!**/*.out